<div class="panel panel-info">
  <div class="panel-heading">
      <h3 class="panel-title">
        {{course.name}}
      </h3>
  </div>
  <div class="panel-body">
    <div class="flex-container">
      <div class="flex-item" id="image" class="pl">
        <img class="avatar" ng-src="{{course.image}}"/>
      </div>
      <div class="flex-item w100">

        <i class="glyphicon glyphicon-tag"></i> {{course.tags}}
        <br/>
        <br/>
        <a href="{{course.sign_up}}" target="_blank"><button class="btn btn-success" ><i class="glyphicon glyphicon-link"></i> View curriculum</button></a>

      </div>
    </div>
    <div class="well">
      <h4>Description</h4>
      {{course.description}}
    </div>
  </div>
  <div class="panel-footer">
    <div>
      <a href="#/" ng-click="upVote(course)">
        <i class="glyphicon glyphicon-thumbs-up"></i>
        {{course.upvote ? course.upvote : 0}}
      </a>
      &nbsp; | &nbsp;
      <a href="#/" ng-click="downVote(course)">
        <i class="glyphicon glyphicon-thumbs-down" ></i>
        {{course.downVote ? course.downVote : 0}}
      </a>
      <div class="pr">
        <i class="glyphicon glyphicon-user"></i>
        {{course.learner}}
        &nbsp; | &nbsp;
        <i class="glyphicon glyphicon-time"></i>
        {{course.hours}}
      </div>
    </div>


  </div>
</div>
