.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}


.pr {
  float : right;
}

.pl {
  float : left;
}

.flex-container {
  display: flex;
}

.avatar {
  height: 70px;
  width: 70px;
}

.flex-item {
  margin: 10px;
}

.w100 {
  width: 100%;
}

.name {
  margin-bottom: 10px;
}
