<form class="form-horizontal" role="search">
  <div class="form-group">
    <div class="col-md-10">
      <input type="text" ng-model="learningHubCtrl.search" placeholder="Search by tag"  class="form-control" id="searchStr" />
    </div>
    <div class="col-md-2">
      <input class="btn btn-success"  type="submit" value="search">
    </div>
  </div>
</form>
<div id="results">
  <div ng-repeat="course in learningHubCtrl.courses | filter:learningHubCtrl.search">
    <course course="course" up-vote="learningHubCtrl.upVote(course)" down-vote="learningHubCtrl.downVote(course)"></course>
  </div>
</div>
